In [ ]:
import mysql.connector

# create connection

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password@root"
)

print(mydb)

Import mysql.connector module
Create the connection object.
Create the cursor object
Execute the query

The cursor object can be defined as an abstraction specified in the Python DB-API 2.0.
It facilitates us to have multiple separate working environments through the same connection to the database. 
We can create the cursor object by calling the 'cursor' function of the connection object.
The cursor object is an important aspect of executing queries to the databases.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password@root"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE newDatabase")

In [2]:
#specify the database name in the connect() method if we want to connect to a specific database.

import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "password@root", database = "mydb")  
  
#printing the connection object   
print(myconn)   

# return a list of systems database

mycursor = myconn.cursor(buffered=True)

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)
    
mycursor.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f4d3c5d6370>
('information_schema',)
('mydb',)
('mysql',)
('newDatabase',)
('performance_schema',)
('sys',)

True

# Create a table

In [5]:
mycursor=myconn.cursor()
mycursor.execute("CREATE TABLE students (student_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), address VARCHAR(100))")

# add column

In [6]:
mycursor.execute("ALTER TABLE students ADD COLUMN major VARCHAR(20)")

In [7]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('students',)

In [8]:
mycursor.execute("desc students")
print([column[0] for column in mycursor.fetchall()])

['student_id', 'name', 'address', 'major']

In [4]:
mycursor.execute("DROP TABLE students")

# drop column

In [9]:
mycursor.execute("ALTER TABLE students Drop address")

mycursor.execute("desc students")
print([column[0] for column in mycursor.fetchall()])

['student_id', 'name', 'major']

# inserting data

In [10]:
# in sql 
# INSERT INTO students VALUES(1,'Jack','Biolody');

import mysql.connector

myconn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password@root",
  database="mydb"
)

mycursor = myconn.cursor()

sql = "INSERT INTO students (student_id,name, major) VALUES (%s,%s, %s)"
val = (1, "Jack", 'Biology')

try:
    mycursor.execute(sql, val)
    
    # commit the transaction
    # myconn.commit is required to make changes, otherwise no changes are made to the table
    myconn.commit()
except:
    #The rollback() method is used to revert the last changes made to the database. 
    #If a condition arises where one is not satisfied with the changes made to the database or
    # a database transaction fails, the rollback() method can be used to retrieve the original data that
    # was changed through the commit() method.
    
    myconn.rollback()
    
print(mycursor.rowcount, "record inserted.")
#myconn.close()

1 record inserted.

In [12]:
mycursor.execute("select * from students")
records=mycursor.fetchall()

print("Total number of rows in table ", mycursor.rowcount, " \nrow id is ",mycursor.lastrowid,"\n")

for row in records:
    print("student_id", row[0])
    print("name",row[1])
    print("major",row[2],"\n")
    
print(records)

Total number of rows in table  1
row id is  0

student_id 1
name Jack
major Biology

[(1, 'Jack', 'Biology')]

In [13]:
# in sql 
# INSERT INTO students VALUES(1,'Jack','Biolody');

#import mysql.connector

#myconn = mysql.connector.connect(
#  host="localhost",
#  user="root",
#  password="password@root",
#  database="mydb"
#)

#mycursor = myconn.cursor()

sql = "INSERT INTO students (student_id,name, major) VALUES (%s,%s, %s)"
val = [
    (2,'Kate','Sociology'),
    (3,'Claire','English'),
    (4,'Jack','Sociology'),
    (5,'Mike','Comp. Sci.'),
]

# executemany to include multiple rows
mycursor.executemany(sql, val)
    
# commit the transaction
myconn.commit()

    
print(mycursor.rowcount, "records inserted.\n")
#myconn.close()

mycursor.execute("select * from students")
records=mycursor.fetchall()

print("Total number of rows in table ", mycursor.rowcount, " \nrow id is ",mycursor.lastrowid,"\n")

for row in records:
    print("student_id", row[0])
    print("name",row[1])
    print("major",row[2],"\n")

4 records inserted.

Total number of rows in table  5
row id is  0

student_id 1
name Jack
major Biology

student_id 2
name Kate
major Sociology

student_id 3
name Claire
major English

student_id 4
name Jack
major Sociology

student_id 5
name Mike
major Comp. Sci.

In [14]:
mycursor.execute("desc students")
print([column[0] for column in mycursor.fetchall()])

['student_id', 'name', 'major']

In [15]:
sql="INSERT INTO students (student_id,name) VALUES (%s,%s)"
val=(6,'Mack')

mycursor.execute(sql,val)
myconn.commit()
   
print(mycursor.rowcount, "records inserted.\n")


mycursor.execute("select * from students")
records=mycursor.fetchall()

print("Total number of rows in table ", mycursor.rowcount, " \nrow id is ",mycursor.lastrowid,"\n")

for row in records:
    print("student_id", row[0])
    print("name",row[1])
    print("major",row[2],"\n")

1 records inserted.

Total number of rows in table  6
row id is  0

student_id 1
name Jack
major Biology

student_id 2
name Kate
major Sociology

student_id 3
name Claire
major English

student_id 4
name Jack
major Sociology

student_id 5
name Mike
major Comp. Sci.

student_id 6
name Mack
major None

# read operation

In [17]:
mycursor.execute("SELECT * FROM students")
result=mycursor.fetchone()
print(result)

(1, 'Jack', 'Biology')

In [25]:
mycursor.execute("SELECT * FROM students")
result=mycursor.fetchall()
print(result)

[(1, 'Jack', 'Biology'), (2, 'Kate', 'Sociology'), (3, 'Claire', 'English'), (4, 'Jack', 'Sociology'), (5, 'Mike', 'Computer Science'), (6, 'Mack', None)]

In [20]:
mycursor.reset()

In [24]:
mycursor.execute("SELECT name FROM students")
read=mycursor.fetchall()
print(read)

[('Jack',), ('Kate',), ('Claire',), ('Jack',), ('Mike',), ('Mack',)]

In [36]:
# filtering
mycursor.execute("select * from students where major='Sociology'")
result=mycursor.fetchall()
print(result)

[(2, 'Kate', 'Sociology'), (4, 'Jack', 'Sociology')]

In [37]:
mycursor.execute("select * from students where major like '%ology%'")
result=mycursor.fetchall()
print(result)

[(2, 'Kate', 'Sociology'), (4, 'Jack', 'Sociology')]

In [41]:
mycursor.execute("select * from students limit 2")
result=mycursor.fetchall()
print(result)

[(1, 'Jack', 'Biochemistry'), (2, 'Kate', 'Sociology')]

In [53]:
# start from another position
mycursor.execute("SELECT * FROM students LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Claire', 'English')
(4, 'Jack', 'Sociology')
(6, 'Mack', 'Biochemistry')

In [42]:
mycursor.execute("select * from students order by student_id desc limit 2")
result=mycursor.fetchall()
print(result)

[(6, 'Mack', 'Biochemistry'), (5, 'Mike', 'Computer Science')]

In [43]:
mycursor.execute("select name, major from students where major='English' or major='Biochemistry'")
result=mycursor.fetchall()
print(result)

[('Jack', 'Biochemistry'), ('Claire', 'English'), ('Mack', 'Biochemistry')]

In [ ]:
#  -- : comment
# <,>,<=,>=, = 
# <> not equal to
# AND OR

In [44]:
mycursor.execute("select name, major from students where major<>'Biochemistry'")
result=mycursor.fetchall()
print(result)

[('Kate', 'Sociology'), ('Claire', 'English'), ('Jack', 'Sociology'), ('Mike', 'Computer Science')]

In [46]:
mycursor.execute("select * from students where student_id>3")
result=mycursor.fetchall()
print(result)

[(4, 'Jack', 'Sociology'), (5, 'Mike', 'Computer Science'), (6, 'Mack', 'Biochemistry')]

In [47]:
mycursor.execute("select * from students where student_id>=3")
result=mycursor.fetchall()
print(result)

[(3, 'Claire', 'English'), (4, 'Jack', 'Sociology'), (5, 'Mike', 'Computer Science'), (6, 'Mack', 'Biochemistry')]

In [48]:
mycursor.execute("select * from students where major in ('English','Sociology')")
result=mycursor.fetchall()
print(result)

[(2, 'Kate', 'Sociology'), (3, 'Claire', 'English'), (4, 'Jack', 'Sociology')]

# order by - sort result

In [38]:
mycursor.execute("select name from students order by name")
result=mycursor.fetchall()
print(result)

[('Claire',), ('Jack',), ('Jack',), ('Kate',), ('Mack',), ('Mike',)]

In [35]:
mycursor.execute("select name from students order by name desc")
result=mycursor.fetchall()
print(result)

[('Mike',), ('Mack',), ('Kate',), ('Jack',), ('Jack',), ('Claire',)]

In [39]:
mycursor.execute("select * from students order by major,student_id")
result=mycursor.fetchall()
print(result)

[(1, 'Jack', 'Biochemistry'), (6, 'Mack', 'Biochemistry'), (5, 'Mike', 'Computer Science'), (3, 'Claire', 'English'), (2, 'Kate', 'Sociology'), (4, 'Jack', 'Sociology')]

In [49]:
mycursor.execute("select name, major from students where major in ('Biochemistry','Sociology') and student_id>3")
result=mycursor.fetchall()
print(result)

[('Jack', 'Sociology'), ('Mack', 'Biochemistry')]

# Update operation

In [26]:
mycursor.execute("UPDATE students SET major='Computer Science' WHERE major='Comp. Sci.'")
myconn.commit()

mycursor.execute("SELECT major FROM students")
read=mycursor.fetchall()
print(read)

[('Biology',), ('Sociology',), ('English',), ('Sociology',), ('Computer Science',), (None,)]

In [29]:
mycursor.execute("UPDATE students SET major='Chemistry' WHERE student_id=6")
myconn.commit()

mycursor.execute("SELECT major FROM students")
read=mycursor.fetchall()
print(read)

[('Biology',), ('Sociology',), ('English',), ('Sociology',), ('Computer Science',), ('Chemistry',)]

In [31]:
mycursor.execute("UPDATE students SET major='Biochemistry' WHERE major='Biology' or major='Chemistry'")
myconn.commit()

mycursor.execute("SELECT major FROM students")
read=mycursor.fetchall()
print(read)

[('Biochemistry',), ('Sociology',), ('English',), ('Sociology',), ('Computer Science',), ('Biochemistry',)]

# Delete operation

In [50]:
# DELETE FROM student;  --delete all rows
# DELETE FROM student WHERE student_id=5;---delete specific row
mycursor.execute("SELECT * FROM students")
result=mycursor.fetchall()
print(result)
print("\n\n")

sql='DELETE FROM students WHERE name="Mike"'
mycursor.execute(sql)
myconn.commit()

# sql = "DELETE FROM customers WHERE name = %s"
#adr = ("Mike", )
#mycursor.execute(sql, adr)

mycursor.execute("SELECT * FROM students")
result=mycursor.fetchall()
print(result)

[(1, 'Jack', 'Biochemistry'), (2, 'Kate', 'Sociology'), (3, 'Claire', 'English'), (4, 'Jack', 'Sociology'), (5, 'Mike', 'Computer Science'), (6, 'Mack', 'Biochemistry')]



[(1, 'Jack', 'Biochemistry'), (2, 'Kate', 'Sociology'), (3, 'Claire', 'English'), (4, 'Jack', 'Sociology'), (6, 'Mack', 'Biochemistry')]

In [51]:
sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [54]:
myconn.close()

# Join two or more tables

In [64]:
import mysql.connector

myconn=mysql.connector.connect(
host='localhost',
user='root',
password='password@root',
database='customers')

cursor=myconn.cursor()

#cursor.execute("CREATE TABLE users (id INT PRIMARY KEY, name VARCHAR(20), fav INT DEFAULT NULL)")

sql="INSERT INTO users(id, name,fav) VALUES (%s,%s,%s)"
val=[
    (1,'John',154),
    (2,'Peter',154),
    (3,'Amy',155),
    (4,'Hannah',155),
    (5,'Michael',154)
]

cursor.executemany(sql,val)

myconn.commit()

cursor.execute("SELECT * FROM users")
result=cursor.fetchall()
print(result)

[(1, 'John', 154), (2, 'Peter', 154), (3, 'Amy', 155), (4, 'Hannah', 155), (5, 'Michael', 154)]

In [69]:
import mysql.connector

myconn=mysql.connector.connect(
    host='localhost',
    user='root',
    password='password@root',
    database='customers')

cursor=myconn.cursor()

cursor.execute("CREATE TABLE products (id INT PRIMARY KEY, name VARCHAR(20))")

sql="INSERT INTO products (id, name) VALUES (%s,%s)"
val=[
    (154,'Chocolate Heaven'),
    (155,'Tasty Lemons'),
    (156,'Vanilla Dreams')
]

cursor.executemany(sql,val)

myconn.commit()

cursor.execute("SELECT * FROM products")
result=cursor.fetchall()
print(result)

[(154, 'Chocolate Heaven'), (155, 'Tasty Lemons'), (156, 'Vanilla Dreams')]

In [70]:
# left join-show all users, even if they do not have a favorite product,

In [71]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password@root",
  database="customers"
)

mycursor = mydb.cursor()

sql = "SELECT users.name AS user,products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Michael', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', 'Tasty Lemons')

In [ ]:
# right join-eturn all products, and the users who have them as their favorite, even if no user have them as their favorite

In [72]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password@root",
  database="customers"
)

mycursor = mydb.cursor()

sql = "SELECT users.name AS user,products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', 'Tasty Lemons')
('Michael', 'Chocolate Heaven')
(None, 'Vanilla Dreams')

In [ ]:
# inner join-INNER JOIN only shows the records where there is a match

In [73]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password@root",
  database="customers"
)

mycursor = mydb.cursor()

sql = "SELECT users.name AS user,products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', 'Tasty Lemons')
('Michael', 'Chocolate Heaven')